<script lang="ts" setup>
import { ref } from "vue";
let title = ref("SMILE");
let img = ref("../../feeling_imgs/smile.png");
const emojiList = ref([
  {
    id: 1,
    name: "ANGRY",
    img: "../../feeling_imgs/angry.png",
    color: "",
  },
  {
    id: 2,
    name: "CUTE",
    img: "../../feeling_imgs/cute.png",
    color: "",
  },
  {
    id: 3,
    name: "EXCITED",
    img: "../../feeling_imgs/excited.png",
    color: "",
  },
  {
    id: 4,
    name: "PAIN",
    img: "../../feeling_imgs/pain.png",
    color: "",
  },
  {
    id: 5,
    name: "SHOCKED",
    img: "../../feeling_imgs/shocked.png",
    color: "",
  },
  {
    id: 6,
    name: "SMILE",
    img: "../../feeling_imgs/smile.png",
    color: "yellow",
  },
]);
const selectEmoji = (id: number) => {
  if (id == 1) {
    title.value = emojiList.value[0].name;
    img.value = emojiList.value[0].img;
  }
  if (id == 2) {
    title.value = emojiList.value[1].name;
    img.value = emojiList.value[1].img;
  }
  if (id == 3) {
    title.value = emojiList.value[2].name;
    img.value = emojiList.value[2].img;
  }
  if (id == 4) {
    title.value = emojiList.value[3].name;
    img.value = emojiList.value[3].img;
  }
  if (id == 5) {
    title.value = emojiList.value[4].name;
    img.value = emojiList.value[4].img;
  }
  if (id == 6) {
    title.value = emojiList.value[5].name;
    img.value = emojiList.value[5].img;
  }
  emojiList.value[5].color = "";
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col>
        <v-img :src="img" style="width: 450px; margin-left: 10px"></v-img>
      </v-col>
      <v-col>
        <h2 style="text-align: center">{{ title }}</h2>
        <div v-for="item in emojiList" :key="item.id" style="margin-left: 20px">
          <v-btn
            class="button"
            @click="selectEmoji(item.id)"
            :color="item.color"
            >{{ item.name }}
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.button {
  margin: 10px;
  width: 500px;
}
.button:focus {
  background-color: #ffff00;
}
</style>
