<!-- eslint-disable vue/no-side-effects-in-computed-properties -->
<script lang="ts" setup>
import { ref, computed } from "vue";
let listOfNum: any = ref([0]);
const num = ref(0);
const showNumber = computed(() => {
  listOfNum.value = [];
  if (num.value === 0) {
    return [];
  }
  for (let i: number = 1; i <= num.value; i++) {
    listOfNum.value.push(i);
  }
  return listOfNum.value;
});
</script>

<template>
  <v-container>
    <v-form>
      <v-text-field
        label="Please input Number"
        v-model="num"
        :rules="[(v) => !!v || 'Number is not empty!!']"
      ></v-text-field>
    </v-form>
    <v-row>
      <v-col cols="12" md="1" v-for="item in showNumber" :key="item">{{
        item
      }}</v-col>
    </v-row>
  </v-container>
</template>
