<script lang="ts" setup>
import { ref } from "vue";
const carts: any = ref([]);
const sum = ref(0);
const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
const selectedProducts = (item: any) => {
  carts.value.push(item);
};
const calProducts = (item: number) => {
  sum.value = sum.value + item;
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col col="6">
        <v-container style="height: 85vh; overflow-y: auto">
          <v-row>
            <v-col v-for="item in products" :key="item.id" col="4">
              <v-card class="card"
                ><h3 class="text">{{ item.name }}</h3>
                <p class="text">{{ item.price }}</p>
                <v-btn @click="selectedProducts(item), calProducts(item.price)"
                  >ADD</v-btn
                ></v-card
              ></v-col
            >
          </v-row>
        </v-container>
      </v-col>
      <v-col>
        <v-table style="height: 85vh; overflow-y: auto">
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="carts.length == 0">
              <td colspan="3" style="text-align: center">No Data</td>
            </tr>
            <tr v-else v-for="item in carts" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
          </tbody>
        </v-table>
        <v-row
          ><h1>Sum:{{ sum }}</h1></v-row
        >
      </v-col>
    </v-row>
  </v-container>
</template>
<style>
.card {
  width: 150px;
  height: 120px;
  text-align: center;
}
.text {
  margin-bottom: 3px;
}
</style>
