<script setup lang="ts">
import { useCounterStore } from "../stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <h1>First Component</h1>
  <p>{{ counterStore.count }}</p>
  <v-btn @click="counterStore.increment()">INCREMENT</v-btn>
</template>
