<script setup lang="ts">
import { useCounterStore } from "../stores/counter";
const counterStore = useCounterStore();
</script>
<template>
  <h1>Second Component</h1>
  <p>{{ counterStore.doubleCount }}</p>
  <v-btn @click="counterStore.del()">DECREASE</v-btn>
</template>
